.about-headshots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.headshot {
  height: 100px;
  width: 100px;
}

.person-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
