.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  max-height: 400px;
}

.person-card img {
  width: 100px;
  height: auto;
}
